.carousel-inner h5,
.carousel-inner p{
    background-color: black;
}
.fa-star{
    color: gold;
}
.last-part{
    width: auto;
    height: 250px;
    background-color: rgb(14, 14, 14);
}
.fa-facebook{
    color: beige;
}
.fa-twitter{
    color: beige;
}
.fa-linkedin{
    color: beige;
}
.fa-instagram{
    color: beige;
}