
.fa-star{
    color: gold;
}
.last-part{
    width: auto;
    height: 250px;
    background-color: rgb(14, 14, 14);
}
.fa-facebook{
    color: beige;
}
.fa-twitter{
    color: beige;
}
.fa-linkedin{
    color: beige;
}
.fa-instagram{
    color: beige;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: black;
    opacity: 0.65;
}
.carousel-caption p{
    font-size: 14px;
}